<div class="input-group mb-3 my-5">
  <input class="form-control form-control-lg" value="https://evening-tor-33186.herokuapp.com/{{shortURL}}" id="inputURL"
    name="inputURL">
  <div class="input-group-append">
    <button class="btn btn-primary btn-lg" type="submit" id="button-addon2">Copy URL</button>
  </div>
</div>