<div class="input-group mb-3 my-5">
  <input class="form-control form-control-lg" value="https://evening-tor-33186.herokuapp.com/{{shortURL}}" id="inputURL"
    name="inputURL" readonly>
  <div class="input-group-append">
    <button class="btn btn-primary btn-lg" id="copyURL" data-clipboard-target="#inputURL">Copy
      URL</button>
  </div>
</div>